<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/availability.css">
    <meta charset="UTF-8">
    <title>Check Availability</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #333; padding: 10px;">
        <a class="navbar-brand" href="/login" style="color: white; margin-left: 10px;">CampusRide</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home" style="color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/location" style="color: white;">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" style="color: white;">About & Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <br><br>
    <!-- Availability Check Section -->
    <h1 style="color: white;">about us</h1>
    <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>


</body>



</html>