<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/styles/home.css">
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #333; padding: 10px;">
    <a class="navbar-brand" href="/login" style="color: white; margin-left: 10px;">CampusRide</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/location" style="color: white;">Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="color: white;">About & Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="profile-card">
    <!-- Profile Card Content -->
    <div class="profile-info">
      <h2 style="color: white;">Hello <%= locals.name %></h2>
      <img class="profile-picture" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Image">
    </div>
    <a href="/editprofile" class="btn btn-primary">Edit Profile</a>
  </div>

  <!-- Selectors -->
  <div class="selectors">
    <select id="location-selector">
      <option value="">Select Location</option>
      <option value="location1">D Hostel</option>
      <option value="location2">Cos</option>
      <option value="location3">Main Gate</option>
      <option value="location4">G Block</option>
      <option value="location5">F Block</option>
      <option value="location6">B Hostel</option>
    </select>

    <hr class="my-2">

    <a href="/payment" class="btn btn-primary">Check Availability</button>

    <hr class="my-1">
  
</body>

</html>