<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/styles/login.css">
  <meta charset="UTF-8">
  <title>Log-In-Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #333; padding: 10px;">
    <a class="navbar-brand" href="/login" style="color: white; margin-left: 10px;">CampusRide</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/location" style="color: white;">Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="color: white;">About & Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="form-container">
    <form action="/login" method="post">
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
        <a class="btn" href="/auth/google">Sign in with Google</a>
        
      </div>

      <div class="divider d-flex align-items-center justify-content-center my-4">
        <p class="text-center fw-bold mb-0" style="color: white;">Or</p>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form3Example3" class="form-control form-control-lg" name="email" placeholder="Enter a valid email address" />
        <!-- <label class="form-label" for="form3Example3">Email address</label> -->
      </div>

      <!-- Password input -->
      <div class="form-outline mb-3">
        <input type="password" id="form3Example4" class="form-control form-control-lg" name="password" placeholder="Enter password" />
        <label class="form-label" for="form3Example4"><%= locals.data %></label>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <!-- Checkbox -->
        <div class="form-check mb-0">
          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
          <label class="form-check-label" for="form2Example3" style="color: white;">Remember me</label>
        </div>
        <a href="/resetpass" class="text-body" style="color: white; text-align: center;">Forgot password?</a>
      </div>

      <div class="text-center text-lg-center mt-4 pt-2">
        <button type="submit" class="btn btn-primary btn-lg" style="margin: auto;">login</button>
        <p class="small fw-bold mt-2 pt-1 mb-0" style="color: white;">Don't have an account? <a
            href="/register" class="link-danger">Register</a></p>
      </div>
    </form>
  </div>
</body>

</html>