<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <h1> see you again</h1>
</body>
</html>

<script>
    setTimeout(function () {
       // after 2 seconds
       window.location = "/";
    }, 5000)
  </script>