<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/styles/register.css">
  <meta charset="UTF-8">
  <title>Log-In-Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #333; padding: 10px;">
    <a class="navbar-brand" href="/login" style="color: white; margin-left: 10px;">CampusRide</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/location" style="color: white;">Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="color: white;">About & Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="form-container">
    <form action="/register" method="post">
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
        <p class="lead fw-normal mb-0 me-4">Sign-Up</p>
      </div>
      <hr class="my-4">
      <!-- Name input -->
      <div class="form-outline mb-4">
        <input type="text" id="form3Example3" class="form-control form-control-lg"   required="required" name="name" placeholder="Enter Your Name"/>
      </div>

      <!-- Username input -->
      <div class="form-outline mb-4">
        <input type="text" id="form3Example3" class="form-control form-control-lg"   required="required" name="username" placeholder="Enter Your UserName" />
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form3Example4" class="form-control form-control-lg"   required="required" name="email" placeholder="Enter Email" />
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form3Example4" class="form-control form-control-lg"   required="required" name="password" placeholder="Enter Password" />
      </div>

      <!-- Repeat Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form3Example4" class="form-control form-control-lg"   required="required" name="repeat_password" placeholder="Repeat Password" />
      </div>
      <%= locals.data %>

      <div class="text-center text-lg-center mt-2">
        <button type="submit" class="btn btn-primary btn-lg" style="margin: auto;">Submit</button>
        <hr class="my-3">
        <a href="/auth/google" class="btn">Sign up with Google</a>
      </div>
    </form>
    
  </div>
</body>

</html>