html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/images/Group4453naa.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #f2f6fc;
    /* Set a background color similar to the first code */
    color: white;
    /* Change text color to white */
}

.text-body,
.link-danger {
    color: white;
}

.form-check input[type="checkbox"]+.form-check-label a {
    color: white;
}

.divider {
    margin: 20px 0;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    width: 380px;
    padding: 35px;
    border: 2px solid #eee;
    border-radius: 20px;
    color: #69707a;
    /* Change text color inside .form-container */
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    /* Add box-shadow */
}

.img-account-profile {
    height: 10rem;
    border-radius: 50%;
    /* Add border-radius for rounded circle */
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    background-color: rgba(33, 40, 50, 0.03);
    border: 1px solid rgba(33, 40, 50, 0.125);
}

.card .card-header {
    font-weight: 500;
    padding: 1rem 1.35rem;
    margin-bottom: 0;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.form-control,
.dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}