html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.text-body,
.link-danger {
    color: white;
}

.form-check input[type="checkbox"]+.form-check-label a {
    color: white;
}

.divider {
    margin: 20px 0;
}


body {
    background-image: url("/images/Group4453naa.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.text-center {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}