html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.text-body,
.link-danger {
    color: white;
}

.form-check input[type="checkbox"]+.form-check-label a {
    color: white;
}

.divider {
    margin: 20px 0;
}


body {
    background-image: url("/images/Group4453naa.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    width: 380px;
    padding: 30px;
    border: 2px solid #eee;
    border-radius: 20px;
    color: white;
}

.form-outline {
    margin-bottom: 20px;
    /* Adjust as needed */
}

/* Center the Proceed button */
.text-center.text-lg-center {
    text-align: center;
    margin: auto;
}

/* Add some padding to the button */
.btn.btn-primary.btn-lg {
    padding: 10px 30px;
    /* Adjust as needed */
}